.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10000;
}

header.masthead {
    padding-top:10rem;
    padding-bottom:calc(10rem - 56px);
    background-image:url(../img/architecture-bridges-buildings-1823680.jpg);
    background-position:center center;
    background-size:cover
}

.jumbotron {
    padding: 0 0 0 0;
    background-image: url(../img/architecture-bridges-buildings-1823680.jpg);
    background-size: cover;
}

.jumboText {
    color: white;
    text-shadow: 5px 5px 10px #000000;
}

#about {
    margin: auto;
    padding: 5rem 0 0 0
}

#portPic {
    border-radius: 25px;
}

div.container.skills {
    text-align: center;
}

.port-img1 {
    height:250px;
    width:100%;
    float:left;
    margin: auto;
    border:3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.port-img2 {
    height:250px;
    width:100%;
    float:right;
    margin: auto;
    border:3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sectionTitle {
    text-align: center;
}

.skillsList {
    list-style-type: none;
    text-align: center;
}

.skillLables {
    text-align: center;
}

.contact {
    margin: auto;
    /* width: 100%; */
}

.contactButtons {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: black;

}

.fa-9x {
    color:black;
}

.footerContent {
    margin: auto;
    height: 3rem;
    width: 100%;
    text-align: center;
}