.jumbotron {
    margin-top: 25px;
}

footer {
    position: fixed;
    height: 75px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}

.footerContent {
    padding: 20px;
}

.fa-2x {
    float:right;
    padding: 5px;
    color: black;
}

.fab {
    padding: 5px;
    color: black;

} 

#otherLogo {
    position: relative;
    bottom: 15px;
    padding: 5px;
}

#profPic {
    float:right;
}