body {
    background: #2B3A42;
}

header {
    display: flex;
    background-image:url('../img/architecture-bridges-buildings-1823680.jpg');
    height: 1080px;
    background-position:center;
    background-size:cover;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.opacityHeader {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 10px;
    padding: 10px;
    width: 75vw;
    height: 200px;
    z-index: 0;
}

.jumboTextContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.jumboText {
    color: white;
    text-shadow: 5px 5px 10px #000000;
    font-size: 5rem;
    opacity: 1.5;
    margin: 0;
}

.aboutTitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    text-align:center;
    padding: 15px;
    color: #FF9000;
}

.aboutContainer {
    background: #F0F0DF;
    display: flex;
    border-radius: 10px;
    width: 75vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    margin: auto;
    align-items: center;
}

.aboutText{
    font-family: 'Padauk', sans-serif; 
    font-size:1.5rem;
    margin: 10px;
}

.portPic {
    justify-content: center;
    border-radius: 25px;
    height: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
}

.sectionTitle {
    font-size: 3rem;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: #FF9000;
    text-decoration: underline;
}

.skillLabels {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.75rem;
    text-decoration: underline;
}

.listContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Padauk', sans-serif;
    font-size: 1.5rem
}

.skillList {
    color: #F0F0DF;
    border-radius: 10px;
    padding: 2rem;
    transition: 0.3s;
    margin: 0 10px 0 10px;
}

.skillList:hover, .skillList:active {
    color: #FF9000;
    transform: scale(1.1);
}

.projectContainer {
    display: flex;
    justify-content: center;
}

.pbox {
    height: 450px;
    align-items: center;
    justify-content: center;
}

#pbox1pic {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 50vw;

}

#pbox1pic:hover, #pbox1pic:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.buttonContainer {
    display: flex;
    height:10vh;
    justify-content: space-evenly;
    
}

.contactButton {
    color: #F0F0DF;
    padding: 25px;
    transition: 0.3s;
}

.contactButton:hover, .skillList:active { 
    color: #FF9000;
    transform: scale(1.1);
  }

.footerContent {
    display: flex;
    margin: auto;
    color: #F0F0DF;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

     body header {
        display: flex;
        flex-direction:column;
        background-image:url('../img/architecture-bridges-buildings-1823680.jpg');
        height: 1080px;
        background-position:center;
        background-size:cover;
        justify-content: center;
        align-items: center;
        z-index: -10;
    }

    body .aboutContainer {
        background: #F0F0DF;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 85vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        justify-content: center;
        margin: auto;
        align-items: center;
    }

    body .portPic {
        justify-content: center;
        border-radius: 25px;
        height: 25rem;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 10px;

    }

    body .listContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        font-family: 'Padauk', sans-serif;
        font-size: 1.5rem
    }

    body .projectContainer {
        width: 100vw;
    }
    
    body .pbox {
        align-items: center;
        justify-content: center;
    }
    
    body #pbox1pic {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 100vw;
    }
    
    body #pbox1pic:hover, #pbox1pic:active {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}